.wrapper{
    background-color: #201e1d;
    padding: 0 25px 155px;
}

.container{
    width: 60%;
    margin-left: 20%;
    padding-top: 20px;
}

.TabInfo{
    width: 100%;
    
}

@media screen and (max-width: 850px){
    .wrapper{
        padding: 0;
    }
    .container{
        margin: 0;
        width: 100%;
    }
    .TabInfo{
        padding-right: 80px;
        padding-left: 80px;
    }
}

@media screen and (max-width: 600px){
    .wrapper{
        padding: 0;
        
    }
    .container{
        margin: 0;
        width: 100%;
    }
    .TabInfo{
        padding: 15px;
    }
}