.forgetPassword{
    margin-top: 200px;
    justify-content: center;
    text-align: center;
}

.forgetPassword h1{
    color: #e12727;
    font-family: Revans,sans-serif;
    font-size: 90px;
    line-height: 1;
    letter-spacing: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.text h2{
    font-size: 20px;
    line-height: 24px;
    letter-spacing: normal;
    font-weight: 700;
    font-family: Fenomen Sans,sans-serif;
    margin-top: -25px;
}

.forgetPassword form{
    display: block;
}

.formField{
    margin-top: 20px;
    position: relative;
    background: white;
    appearance: none;
    border: 3px solid #898e8e;
    padding: 1.1rem 2rem;
    background: transparent;
    color: #898e8e;
    width: 336px;
    height: 50px;
    background-color: white;
}

.formField::placeholder{
    font-size: 15px;
    font-family: Fenomen Sans,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.btnSubmit button{
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    width: 336px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0;
    background: #898e8e;
    color: black;
    font-size: 16px;
    line-height: 1.5;
    font-family: Fenomen Sans,sans-serif;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.btnSubmit button:hover{
    background-color: #e12727;
}

.btnCancel{
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: Fenomen Sans,sans-serif;
}
    

