.handsText {
  width: 50%;
  color: white;
  margin-top: 10px;
  font-family: "FenomenSans";
  font-weight: 900;
  font-size: 1.875rem;
  text-align: center;
}
.fairTrade {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.fairTrade img {
  width: 20rem;
}

.sectionContainer {
  display: flex;
  position: relative;
  width: 90%;
  margin: 0 auto 10rem;
}

.sectionButton {
  width: 241.5px;
  padding: 1.5rem 1rem;
  background-color: #e12727;
  font-family: "FenomenSans-Book";
  color: black;
  font-weight: bold;
  font-size: 17px;
  margin-top: 1.5rem;
  cursor: pointer;
  border: none;
}

.sectionButton:hover {
  color: white;
}

.sectionTitle {
  font-family: "Revans";
  font-weight: 900;
  font-size: 13vw;
  color: white;
  position: relative;
  z-index: 1;
  margin: 0;
}
.sectionTitle.reverse {
  text-align: right;
  left: -11.3rem;
}

.sectionVideo {
  height: 31.25vw;
  width: 31.25vw;
  position: relative;
  z-index: 0;
  top: 4rem;
  left: -11.3rem;
  /* border: 2px solid white; */
}
.sectionVideo.reverse {
  left: 0rem;
}
.sectionVideo video {
  position: absolute;
}
.sectionText {
  position: relative;
  top: 7rem;
  left: -11.3rem;
  z-index: 2;
}

.sectionText.reverse {
  left: 0rem;
}

.sectionText p {
  font-weight: lighter;
  font-size: 1.6875rem;
  color: white;
}

.sectionTextResp {
  display: none;
}

.sectionButtonResp {
  display: none;
}

@media screen and (max-width: 1563px) {
  .sectionVideo,
  .sectionText {
    right: 0;
    left: unset;
  }
  .sectionVideo {
    height: 50%;
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 1092px) {
  .handsText {
    width: 95%;
  }
  .fairTrade {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .sectionVideo,
  .sectionText {
    left: -25%;
    right: unset;
  }
  .sectionTitle {
    top: 25%;
    font-size: 4rem;
    background-color: transparent !important;
  }

  .sectionTitle.reverse {
    left: -8rem;
  }
}

@media screen and (max-width: 468px) {
  .fairTrade img {
    width: 159px;
  }
  .handsText {
    font-size: 1.1rem;
  }
  .sectionVideo,
  .sectionText {
    left: -87%;
    right: unset;
  }

  .sectionTitle.reverse {
    left: -80%;
  }
}
