.productsDetails{
    display: flex;
    width: 100%;
    margin-top: 60px;
  }
  
  .imagesDetailsProduct{
    width: 50%;
  }
  
  .imagesDetailsProduct img{
    width: 100%;
  }
  
  .descriptionDetailsProduct{
  width: 50%;
  margin-top: 25px;
  margin-left: 70px;
  }
  
  .descriptionDetailsProduct h1{
    color: red;
    font-weight: bold;
    font-size: 45px;
  }
  
  .priceDetailsProduct{
    font-weight: bold;
    font-size: 22px;
  }
  
  .desciptionTitleDetailsProduct{
    margin-top: 25px;
    font-weight: bold;
    font-size: 27px;
  }
  
  .desciptionDetailsProduct{
    margin-top: 20px;
    width: 85%;
    text-align: justify;
  }
  
  .stylesDetailsProduct{
    margin-top: 10px;
  }
  
  .coffeeDetails{
    margin-top: 80px;
  }
  
  .coffeeDetails li{
    padding: 5px;
    width: 80%;
    
  }
  
  .btnStyles{
    margin-top: 10px;
    width: 205px;
    height: 65px;
    background-color: rgb(130, 130, 130);
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .btnStyles:focus{
    background-color: rgb(52, 52, 52);
    color: white;
    border: solid red 1px;
  }
  
  .btnAddCart{
    margin-top: 50px;
    color: black;
    width: 205px;
    height: 65px;
    font-weight: bold;
    font-size: 15px;
    
  }

  .reviews {
    line-height: 24px;
    cursor: pointer;
  }
 
  .reviews span {
    margin-right: 7px;
    display: inline-flex;
  }
  .reviews svg {
    /* vertical-align: baseline; */
    font-size: 1.2rem;
    margin-left: -2px;
  }

  @media screen and (max-width: 1100px) {
    .productsDetails{
      width: 100%;
      display: block;
      flex-direction: column;
    }
    .imagesDetailsProduct{
      width: 100%;
    }
    .descriptionDetailsProduct{
      width: 100%;
      margin: 0;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    .desciptionDetailsProduct{
      width: 80%;
      justify-content: center;
      text-align: center;
      margin-left: 10%;
    }
    .coffeeDetails{
      display: none;
    }

    .descriptionDetailsProduct h1{
      font-size: 30px;
    }
  .desciptionTitleDetailsProduct{
    font-size: 20px;
  }
    
    
  }
  