@media screen and (max-width: 1400px) {
    .navbar {
      display: none;
    }
    .smallscreen {
      display: flex;
      justify-content: space-around;
    }
  }

  .link:hover {
    text-decoration: underline;
    color: red;
  }

  .close {
    font-size: 27px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 50px;
  }

  .smallscreen {
    display: none;
  }
  
  .smallscreenMenu {
    position: fixed;
    width: 100%;
    height: 100vh;
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
    background-color: black;
  }