.navbar {
  width: 70%;
}
.smallscreen {
  display: none;
}

.link:hover {
  text-decoration: underline;
  color: red;
}

.close {
  font-size: 27px;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 50px;
}

.smallscreenMenu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;
  background-color: black;
}

@media screen and (max-width: 1400px) {
  .navbar header > div {
    width: 100%;
  }
}

@media screen and (max-width: 940px) {
  .navbar {
    display: none;
  }
  .smallscreen {
    position: fixed;
    width: 100%;
    height: 120px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #000;
    display: flex;
    justify-content: center;
    z-index: 2;
    align-items: center;
  }
  .smallScreenLogo {
    text-align: center;
  }
  .smallscreen > * {
    flex: 1 1 0;
  }
  .rightIcons {
    text-align: center;
  }
  .rightIcons button {
    margin: 0;
  }
}
