.home *,
.rebellious *,
.textSmallscreen * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home *,
.rebellious *,
.textSmallscreen * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  margin-top: 30px;
  width: 100%;
  height: 100vh;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url("../public/cafe.jpg");
}
.textSubnavbar {
  width: 450px;
  margin-top: 20%;
  margin-left: 10%;
}
.textSubnavbar h2 {
  font-weight: bold;
  color: white;
  font-family: Revans;
  font-size: 4.125rem;
}
.textSubnavbar span {
  color: #e63d2f;
}
.textSubnavbar p {
  font-size: 1.25rem;
  color: white;
}

.textSubnavbar button {
  width: 50%;
  padding: 1.5rem 1rem;
  background-color: #e12727;
  font-family: "FenomenSans-Book";
  color: black;
  font-weight: bold;
  font-size: 17px;
  margin-top: 1.5rem;
  cursor: pointer;
  border: none;
}

.textSubnavbar button:hover {
  color: #fff;
}
.textSmallscreen {
  display: none;
}

.rebellious h5 {
  font-family: Revans;
  font-weight: bold;
  color: #e12727;
  text-align: center;
  margin: 2.1rem auto 0.5rem !important;
  font-size: 68px;
}
.rebellious p {
  color: white !important;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
}
.rebellious h6 {
  text-align: center;
  font-size: 1.75rem;
  font-family: "FenomenSans";
  color: #e12727;
  margin-top: 1rem;
}

@media screen and (max-width: 940px) {
  /*------Subnavbar--------*/
  .home {
    width: 100%;
    background-position: 86% -16%;
  }
  .textSubnavbar {
    display: none;
  }
  .textSmallscreen {
    color: white;
    display: block;
    justify-content: center;
    text-align: center;
    margin-bottom: 10rem;
  }

  .textSmallscreen h3 {
    font-family: "Revans";
    font-size: 4.125rem;
    margin: 2rem auto 0;
    width: 96.5%;
  }
  .textSmallscreen p {
    color: white;
    margin: 0 auto;
    width: 90%;
    font-size: 1.25rem;
  }

  .textSmallscreen button {
    color: black;
    height: 70px;
    font-weight: bold;
    width: 15rem;
    padding: 1.5rem 0.5rem;
    background-color: #e12727;
    font-family: "FenomenSans-Book";
    font-size: 1.1rem;
    margin-top: 2rem;
    cursor: pointer;
    border: none;
  }
  .smallText {
    color: white;
    font-size: 45px;
  }
  .home {
    height: 565px;
  }
}

@media screen and (max-width: 486px) {
  .textSmallscreen h3 {
    font-size: 2rem;
  }

  .rebellious h5 {
    font-size: 2rem;
  }
  .rebellious h6 {
    font-size: 1rem;
  }
}
