.buttons {
  display: flex;
  column-gap: 0.5rem;
  padding-top: 2.5rem;
  justify-content: center;
}
.buttons button:hover,
.findBrew:hover {
  color: white !important;
  background-color: #e12727;
}

.save {
  background-color: rgba(0, 0, 0, 0.5);
  width: 550px;
  padding-bottom: 1rem;
  margin-left: 56%;
}
.truckResp,
.manageResp,
.accessResp,
.savingsResp,
.saveResp,
.reviewsResp {
  display: none;
}

.benefits {
  background-color: black;
  width: 100%;
  padding-bottom: 1rem;
}

.benefitsTitle {
  color: white;
  font-size: 69px;
  font-weight: 1000;
  margin-top: 1.5rem !important;
  margin-bottom: 100px;
  font-family: "revansmedium" !important;
}

.needHelpTitle {
  color: white;
  font-size: 69px;
  font-weight: 1000;
  font-family: "revansmedium" !important;
}

.needHelpText {
  color: white;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  margin-top: 20px;
}

.findBrew {
  color: black;
  width: 230px;
  height: 65px;
  font-weight: 500;
  margin: 50px auto 0 !important;
  background-color: #e12727;
  display: block !important;
  cursor: pointer;
  margin-left: 45%;
}

@media screen and (max-width: 768px) {
  .truck,
  .savings,
  .save,
  .access,
  .manage,
  .reviews {
    display: none !important;
  }
  .truckResp,
  .manageResp,
  .accessResp,
  .savingsResp {
    display: block;
  }
  .reviewsResp {
    display: flex;
    flex-direction: column;
  }
  .saveResp {
    display: block;
    width: 90% !important;
    margin: 0 auto;
  }
  .subscribeHero {
    width: 100%;
    height: 45vh !important;
    margin-top: 7rem;
  }

  .subscribeButtonResp:hover,
  .goToLoginResp:hover {
    background-color: #424242;
  }

  .benefits {
    max-height: unset;
    max-width: 95%;
    margin: auto;
    padding-top: 4rem;
  }
  .benefits .cards {
    max-height: unset !important;
  }

  .benefitsTitle {
    color: white;
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 2rem !important;
    font-family: "revansmedium" !important;
  }

  .savings {
    width: 100%;
  }
  .cards {
    display: flex;
    flex-flow: row wrap;
  }

  .needHelpTitle {
    color: white;
    font-size: 2rem !important;
    font-family: "revansmedium" !important;
  }

  .needHelpText {
    color: white;
    font-size: 14px;
    font-weight: lighter;
    font-family: "FenomenSans-Book" !important;
    text-align: center;
  }

  .findBrew {
    color: black;
    width: 180px;
    height: 58px;
    display: block;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }

  .footerBlack {
    display: none;
  }

  .footerResp {
    background-color: black;
    height: 274px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footerMenu {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .footerMenu h2 {
    color: red;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
}
