.subscribeButton {
  background-color: red;
}

.goToLogin {
  background-color: red;
}

.findBrew {
  background-color: red;
}

.subscribeButton:hover {
  background-color: #424242;
}

.goToLogin:hover {
  background-color: #424242;
}

.findBrew:hover {
  background-color: #424242;
}

.footerResp {
  display: none;
}

@media screen and (max-width: 768px) {
  .subscribeHero {
    max-width: 768px;
    max-height: 320px;
  }

  .save,
  .truck,
  .savings,
  .access,
  .manage,
  .reviews {
    display: none;
  }

  .subscribeButtonResp,
  .goToLoginResp {
    background-color: red;
  }

  .subscribeButtonResp:hover,
  .goToLoginResp:hover {
    background-color: #424242;
  }

  .benefits {
    height: 600px;
    max-width: 100%;
  }

  .benefitsTitle {
    color: white;
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 40px;
    font-family: "revansmedium";
  }

  .cards {
    display: flex;
    flex-flow: row wrap;
  }

  .needHelpTitle {
    color: white;
    font-size: 40px;
    font-family: "revansmedium";
  }

  .needHelpText {
    color: white;
    font-size: 14px;
    font-weight: lighter;
    font-family: "revansmedium";
    text-align: center;
  }

  .findBrew {
    color: black;
    width: 180px;
    height: 58px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 33%;
  }

  .footerBlack {
    display: none;
  }

  .footerResp {
    background-color: black;
    height: 274px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footerMenu {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .footerMenu h2 {
    color: red;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .save {
    background-color: rgba(0, 0, 0, 0.5);
    width: 550px;
    padding-bottom: 1rem;
    margin-left: 56%;
  }

  .footerResp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .saveResp {
    display: none;
  }

  .benefits {
    background-color: black;
    max-height: 800px;
    max-width: 100%;
  }

  .benefitsTitle {
    color: white;
    font-size: 69px;
    font-weight: 1000;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "revansmedium";
  }

  .truckResp,
  .savingsResp,
  .accessResp,
  .manageResp,
  .reviewsResp {
    display: none;
  }

  .needHelpTitle {
    color: white;
    font-size: 69px;
    font-weight: 1000;
    font-family: "revansmedium";
  }

  .needHelpText {
    color: white;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
  }

  .findBrew {
    color: black;
    width: 230px;
    height: 65px;
    font-weight: 500;
    margin-top: 50px;
    cursor: pointer;
    margin-left: 45%;
  }
}
